
        .heading {
            text-align: center;
        }

        /* Add margin to the form inputs and button */
        .myForm input,
        .myForm select,
        .myForm button {
            margin-bottom: 10px;
        }

        /* Add margin to the list */
        .list {
            margin-top: 20px;
        }

        /* Style the list item */
        .listItem {
            display: flex;
            justify-content: space-between; 
            align-items: center; 
            margin-bottom: 10px;
            padding: 10px;
            background-color: #d4d4d4;
            border-radius: 5px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        }

        /* Style the list item text */
        .listItem span {
            /* margin-right: 10px; */
            font-weight: bold;
        }

        .btn{
            color: white;
            opacity: 1;
        }

        /* Style the edit and delete buttons */
        .edit,
        .delete {
            color: black;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 14px;
            font-weight: bold;
            float: right;
        }

        .number,
        .description,
        .item {
            width: 100%;
        }
        .text-end {
            text-align: end;
        }
  